@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont.ttf') format('truetype');
}

$media-mobile: 425px;

@mixin media($media) {
  @if $media == mobile {
    @media only screen and (max-width: $media-mobile) {
      @content;
    }
  }
}

ul {
  list-style: none;
}

html {
  height: 100%;

  body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;

    .mainContainer {
      font-family: Raleway, serif;
      width: 75vw;
      height: 75vh;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: #9a9a9a 0px 3px 9px 1px;
      display: flex;
      flex-direction: column;

      @include media(mobile) {
        width: 90vw;
        height: 90vh;
      }

      .inputContainer{
        flex-direction: column;
        display: flex;

        input{
          display: flex;
          justify-self: center;
          align-self: center;
          width: 90%;
          padding: 10px;
          margin: 10px;
          border:none;
          border-bottom: #9a9a9a solid 1px;
        }
      }

      ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow-y: auto;

        li {
          padding: 10px;
          display: flex;

          .itemContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            line-height: 5px;

            .imageContainer {
              padding: 20px;

              img {
                border-radius: 100%;
                object-fit: contain;
                width: 100px;
                height: 100px;
                border: #d1d1d1 solid 2px;

                @include media(mobile) {
                  display: none;
                }
              }
            }

            .contentContainer {

              h2 {
                font-weight: bolder;

                @include media(mobile) {
                  font-size: 13px;
                }
              }

              h4 {
                font-weight: lighter;
                margin-left: 10px;

                @include media(mobile) {
                  font-size: 10px;
                }
              }

              .tagContainer{
                overflow-x: auto;
                display: flex;
                margin-bottom: 5px;
                max-width: 150px;
                overflow: auto;

                li{
                  background-color: #dadada;
                  display: flex;
                  justify-content: center;
                  flex-direction: row;
                  padding: 10px;
                  border-radius: 5px;
                  margin: 2px;
                }
              }

              input{
                border: none;
                border-bottom: #9a9a9a solid 1px;
              }
            }
          }

          .openCloseContainer{
            display: flex;
            align-self: self-start;
            font-size: 40px;
            font-weight: bolder;
            color: #9b9b9b;
            cursor: pointer;
          }
        }
      }
    }
  }
}
